/* import font open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(148, 248, 230, 0.5);
}

.navbar-nav .nav-item .nav-link {
  color: #03a4ed;
  padding-left: 40px;
  opacity: 0.5;
}

.navbar-nav .nav-item .nav-link.active {
  color: #03a4ed;
  opacity: 1;
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #03a4ed;
  font-weight: 600;
  opacity: 1;
  text-decoration: underline;
}

#company, #product {
  background-color: #03A4ED;
  color: #fff;
}